.all-content{
    display: flex;
    margin: 50px;
}
/*Commenting this one for now*/
.all-content .pepper-content{
    /*display: flex;*/
    margin: 50px;
 }

.row{
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 16px;

}
.row .pepper-content{
    margin: 50px;
}